<div>
    <h1>PRODUCTOS</h1>
    {{#each products}}
    <div>
        <p>{{this.id}}</p>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>{{this.code}}</p>
        <p>{{this.price}}</p>
        <p>{{this.status}}</p>
        <p>{{this.stock}}</p>
        <p>{{this.category}}</p>
    </div>
    {{/each}}
</div>